.error-container {
  display: flex;
  text-align: center;
  justify-content: center;
  max-width: 50rem;
  border-radius: 25px;
  border: 2px solid #d8000c;
  padding: 20px;
  margin: 10px auto;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #d8000c;
  background-color: #ffbaba;
}

.error-container img {
  height: 35px;
  width: 35px;
  position: relative;
  top: 20px;
}

.error-text {
  padding-left: 10px;
  padding-right: 10px;
}
