form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tweet-text {
  resize: none;
  border: none;
  border-bottom: 3px solid #416a59;
  background-color: #f4f1ec;
}

#tweetSubmitter {
  font-family: "Bungee", cursive;
  background-color: #39395f;
  color: #f4f1ec;
  margin-top: 0.7em;
}

.counter {
  font-family: "Bungee", cursive;
  margin-top: 0.7em;
}
